DATABASE_URL=""

ACCESS_TOKEN_SECRET=***
ACCESS_TOKEN_EXPIRY=1h
REFRESH_TOKEN_SECRET=***
REFRESH_TOKEN_EXPIRY=7d

CLOUDINARY_CLOUD_NAME=__cloudinary_cloud_name__
CLOUDINARY_UPLOAD_PRESET=__cloudinary_upload_preset__

CLIENT_URL=http://localhost:5173
